tr {
  border-color: #00000000;
  border-spacing: 0;
}

tr.deck td {
  border-bottom-color: #29292B;
  border-bottom: 0;
}

tr.drag-hover td {
  border-bottom-color: #777;
}

.current {
  background-color: #29292B00;
}

center {
  padding-top: 15px;
  padding-bottom: 15px;
}

table {
  padding: 25px;
  background: #494d64;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0 15px 25px rgba(0,0,0,.6);

}

.night-mode .zero-count {
  color: #737070
}
.heatmap {
  background: #5A5D79;
  padding: 15px;
  border-radius: 25px;
  overflow: hidden;
  -webkit-box-shadow: 0 15px 25px #011627;
}

.rh-container {
  padding: 15px;
}
